<section class="step relative -md:h-hero-mobile h-hero-desktop -md:min-h-150 min-h-200 flex flex-col">
  <div class="hero-image rounded-[75px] overflow-hidden absolute hover:z-20 z-0 top-0 left-0 xl:w-[55%] h-fit">
    <span class="absolute z-30 bottom-[8%] left-1/4 h1 font-playfair text-white" aria-hidden="">1938</span>
  </div>

  <div class="substep absolute z-10 right-6 bottom-6 -xl:w-2/3 w-[60%]">
    <img class="rounded-[75px] float-right aspect-[3/2] object-cover max-h-[600px]" src="/assets/images/house_today.jpg" alt="A picture of the Wynstra home today." tabindex="0" />
    <span class="absolute z-30 bottom-[8%] left-2/3 h1 font-playfair text-white" aria-hidden="">Today</span>
  </div>

  <header class="absolute -xl-1/3 w-[40%] right-10 top-20 z-10 flex justify-end 2xl:mr-[8%]">
    <h1 class="substep animation__delay-short font-playfair"><span class="substep animation__delay-medium text-h3 uppercase tracking-widest text-brown">Historic</span><br />Olympia, WA</h1>
  </header>
</section>
