<section class="relative md:min-h-200 -md:h-[calc(100vh-64px)] md:h-[calc(100vh-81px)] flex flex-col justify-center items-center">
  <div class="absolute hover:z-20 z-0 inset-6 w-2/3 h-fit">
    <img class="rounded-[75px] max-h-[800px]" src="/assets/images/house_1938.jpg" alt="A picture of the Wynstra home in 1938." tabindex="0" />
    <div class="absolute z-30 bottom-[8%] left-1/4 h1 font-playfair text-white" aria-hidden="">1938</div>
  </div>

  <div class="absolute z-10 right-6 bottom-6 -xl:w-2/3 w-[60%]">
    <img class="rounded-[75px] float-right aspect-[3/2] object-cover max-h-[600px]" src="/assets/images/house_today.jpg" alt="A picture of the Wynstra home today." tabindex="0" />
    <img class="absolute rounded-[75px] float-right aspect-[3/2] object-cover max-h-[600px]" src="/assets/images/house_today.jpg" alt="A picture of the Wynstra home today." tabindex="0" />
    <div class="absolute z-30 bottom-[8%] left-2/3 h1 font-playfair text-white" aria-hidden="">Today</div>
  </div>
  <!-- <header class="relative z-10">
    <h1 class="">The Wynstra House</h1>

    <div class="typewriter typewriter-delay">
      <h1 id="second-line" class="opacity-0" aria-hidden="true">A web developer.</h1>
    </div>
  </header> -->
</section>
