<section class="step relative -md:h-hero-mobile h-hero-desktop -md:min-h-150 min-h-200 flex flex-col">
  <div class="hero-image rounded-[75px] overflow-hidden tablet:absolute hover:z-20 z-0 top-0 left-0 xl:w-[55%] h-fit">
    <img class="max-h-[800px]" src="/assets/images/house_1938.jpg" alt="A picture of the Wynstra home in 1938." tabindex="0" />
    <div class="gradient-bl tablet:absolute z-30 w-full h-full top-0 left-0"></div>
    <span class="tablet:absolute z-30 bottom-[12%] left-[10%] h1 font-playfair text-white" aria-hidden="">1938</span>
  </div>

  <header class="tablet:absolute right-0 xl:right-[12%] top-20 z-50 flex justify-end">
    <h1 class="flex tablet:flex-col substep animation__delay-short font-playfair"><span class="substep animation__delay-medium text-h3 uppercase tracking-widest text-brown">Historic</span>Olympia, WA</h1>
  </header>

  <div class="hero-image substep rounded-[75px] overflow-hidden tablet:absolute z-10 right-0 bottom-6 xl:w-[55%]">
    <img class="float-right aspect-[3/2] object-cover max-h-[600px]" src="/assets/images/house_today.jpg" alt="A picture of the Wynstra home today." tabindex="0" />
    <div class="gradient-br tablet:absolute z-30 w-full h-full top-0 left-0"></div>
    <span class="tablet:absolute z-30 bottom-[12%] right-[10%] h1 font-playfair text-white" aria-hidden="">Today</span>
  </div>

  <div class="tablet:absolute flex flex-col xl:left-[12%] bottom-32 z-20 -xl:max-w-64 max-w-80 italic text-brown">Dedicated to the original owners Theodore and Mabel Wynstra, and that point in Olympia history.</div>
</section>
