<section class="step flex -md:flex-col min-h-150 -md:py-20 py-40">
  <div class="-md:w-full w-3/5 -md:mb-14">
    <div id="osm-map" class="step rounded-[75px] overflow-hidden">
      <iframe height="450px" width="100%" src="https://www.openstreetmap.org/export/embed.html?bbox=-122.93890788791039,47.02687426274268,-122.89637409949937,47.055859769989056&layer=mapnik&marker=47.04136701636587,-122.91764099370488"></iframe>
    </div>
  </div>
  <div class="-md:w-full w-2/5 flex justify-center items-center -md:px-0 px-14">
    <header class="flex flex-col">
      <span class="substep animation__delay-short -md:mb-5 mb-8 text-center mx-auto">The Wynstra House is located in the west side of Olympia. It's a short walk from downtown Olympia, the waterfront, and the Capitol Campus. </span>
      <span class="text-brown mx-auto substep animation__delay-medium">
        709 Percival St SW<br />
        Olympia, WA 98502
      </span>
    </header>
  </div>
</section>
