<header class="sticky z-10 inset-0 bg-white">
  <nav class="nav-menu w-full" aria-label="Navigation">
    <ul class="flex w-full items-center" role="menubar" aria-label="Main Navigation">
      <li class="group" role="menuitem">
        <a class="hover:text-brown transition-text duration-500" href="/" aria-label="Home">
          <span class="font-pinyon text-[54px]">The Wynstra House</span>
        </a>
      </li>
      <li role="menuitem" class="menu-item ml-auto -md: mr-11">
        <a class="hover:text-brown transition-text duration-500" href="/theodore-wynstra">Theodore Wynstra</a>
      </li>
      <li role="menuitem" class="menu-item">
        <a class="hover:text-brown transition-text duration-500" href="/the-house">The House</a>
      </li>
    </ul>
  </nav>
</header>
