<section class="step w-full flex -lg:flex-col my-20">
  <div class="-w-full lg:w-1/2 xl:w-2/5 flex flex-col justify-center md:px-14">
    <h1 class="text-brown mb-3">Theodore Wynstra</h1>
    <p class="substep animation__delay-short mb-7">Theodore Wynstra was a pioneer of public education in Olmpia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultrices leo lobortis velit laoreet finibus. Sed a suscipit leo. Vivamus feugiat suscipit ante, in lacinia turpis lobortis et.</p>
    <a href="/" class="group flex items-center text-brown w-fit substep animation__delay-medium">
      <span class="group-hover:">Wyntra Family History</span>
      <svg class="group-hover:translate-x-2 ml-2 translate-y-0.5 transition-all duration-500 ease-in-out" width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.4917 9.9751L11.9668 5.5M11.9668 5.5L7.4917 1.0249M11.9668 5.5L0.0332029 5.5" stroke="#80471c" stroke-width="1.5"></path>
      </svg>
    </a>
  </div>
  <div class="w-full lg:w-1/2 xl:w-3/5">
    <img class="rounded-[75px] w-full" src="/assets/images/wynstra_school_front.jpg" alt="A photo of Theodore Wynstra in front of a newly built school structure." />
  </div>
</section>
