<section
	class="step w-full flex flex-col text-center text-h3 -tablet:mb-14 mb-24"
>
	<div class="mx-auto">
		<img
			class="aspect-square rounded-full w-full max-w-xl overflow-hidden mb-7"
			src="/assets/images/plaque.jpg"
			alt="A photo of Theodore Wynstra in front of a newly built school structure."
		/>
	</div>
	<span class="italic max-w-4xl mx-auto mb-3"
		>"Teaching is a gift for students and us. We should send you home with the
		love of poetry, history, the latest chemistry equation, the balance and
		beauty of the chemical table, and with hope, self respect, and a sense of
		worth".</span
	>
	<span class="substep animation__delay-short text-brown"
		>~Theodore Wynstra</span
	>
</section>
